# TTTM - Table Tennis Score Prediction - Israel
## in this project we will try to predict the score of the matches, and the forms that are filled by each team

### Initial imports

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np
from datetime import datetime
import re

### Open csv

In [2]:
def read_csv(filename):
    return pd.read_csv('./'+filename)

### Dataset - links to every player personal profile page

#### crwaling to 'http://www.tttm.co.il', preparing the first dataset that will contain each player personal link

In [3]:
players_hrefs=[]
top_players_df = None

def get_players_df():
    print("Start")
    for i in range(1,4):
        url = f'http://www.tttm.co.il/rk/MS-{i}/%D7%98%D7%A0%D7%99%D7%A1-%D7%A9%D7%95%D7%9C%D7%97%D7%9F-%D7%93%D7%99%D7%A8%D7%95%D7%92-%D7%92%D7%91%D7%A8%D7%99%D7%9D'
        res = requests.get(url)
        soup = BeautifulSoup(res.content,'html.parser')
        players = soup.find('table').find_all('tr')
        for player in players:
            a = player.find('a')
            try:
                players_hrefs.append(a['href'])
            except:
                continue


    players_to_df = {"name":[],"club":[],"rank":[],"category":[],"points":[],"id":[],"link":[]}

    for h in players_hrefs:
        res = requests.get('http://tttm.co.il'+h)
        soup = BeautifulSoup(res.content,'html.parser')
        name = soup.find('div',attrs={"class":"playerName"}).text
        player_presentation = soup.find('div',attrs={"class":"playerPresentation"})
        club = player_presentation.find('a').text
        rank = int(player_presentation.find('table').find('b').text)
        cat_points = player_presentation.find_all('span')
        category = cat_points[0].find('b').text
        points = float(cat_points[1].find('b').text)    
        player_id = player_presentation.find('b').text.strip('\n').strip()
        print(name)
        players_to_df['name'].append(name)
        players_to_df['club'].append(club)
        players_to_df['rank'].append(rank)
        players_to_df['category'].append(category)
        players_to_df['points'].append(points)
        players_to_df['id'].append(player_id)
        players_to_df['link'].append(h)



    top_players_df = pd.DataFrame.from_dict(players_to_df)
    top_players_df['name'] = top_players_df['name'].str.strip('\n ')
    top_players_df['club'] = top_players_df['club'].str.strip('\n ')
    top_players_df.to_csv('players_table.csv' , encoding = "utf-8-sig")

## Trying to open the players_table.csv. if it doesnt work we will use the function above

In [4]:

try:
    top_players_df = read_csv('./players_table.csv')
    players_hrefs = top_players_df['link']
except:
    get_players_df()

In [5]:
try:
    top_players_df = top_players_df.drop('Unnamed: 0',axis=1)
except:
    pass

In [6]:
top_players_df

,name,club,rank,category,points,id,link
0,יונתן שוסטרמן,מ. בני הרצליה,1,S,1778.3,745,/p/745/יונתן-שוסטרמן
1,מיכאל טאובר,עירוני גבעתיים,2,S,1697.3,853,/p/853/מיכאל-טאובר
2,טל ישראלי,הפועל חיפה,3,E19,1666.4,651,/p/651/טל-ישראלי
3,אביב בן ארי,מכבי זאב זכרון יעקב,4,S,1619.7,524,/p/524/אביב-בן-ארי
4,יניב שרון,הפועל לוד,5,S40,1574.1,882,/p/882/יניב-שרון
...,...,...,...,...,...,...,...
295,ויאצ'סלב גנין,בית''ר אשדוד,296,S40,681.1,4673,/p/4673/ויאצ-סלב-גנין
296,רונן גבע,הפועל יוקנעם,297,S40,681.0,4441,/p/4441/רונן-גבע
297,אולג אוישר,הפועל טנ''ש באר שבע,298,S50,679.8,1409,/p/1409/אולג-אוישר
298,יקיר טאיבי,טניס שולחן חיפה,299,S,675.9,6923,/p/6923/יקיר-טאיבי
299,מיכאל גינזבורג,מכבי גבירול באר שבע,300,S60,675.2,1701,/p/1701/מיכאל-גינזבורג

### Let's impelement a function to return a single row of a player
#### get_player_row(player_name) -> return player's row

In [7]:
def get_player_row(player_name):
    try:
        row = top_players_df[top_players_df['name']==player_name]
        return row
    except:
        return None

In [8]:
yoni_row = get_player_row('יוני ירמיהו')
yoni_row['name'].values[0]

'יוני ירמיהו'

## After saving the first dataframe as csv we need to acquire more data

### Creating a new dataset for all the games that the players which we crawled to achieve their data earlier

In [9]:
games_to_df = {
    "match_id":[],
    "match_type":[],
    "date":[],
    "p1_id":[],
    "p1_name":[],
    "p1_club":[],
    "p1_rank":[],
    "p1_sets":[],
    "p1_home":[],
    "p1_points_gained":[],
    "p2_id":[],
    "p2_name":[],
    "p2_club":[],
    "p2_rank":[],
    "p2_sets":[],
    "p2_home":[],
    "p2_points_gained":[],
    "winner_id":[]
    

}

## Creating the matches dataset

### We will now crawl on every player and create a dataset of all the games that a player played

In [10]:
for h in range(220):
    try:
        res = requests.get('http://tttm.co.il'+players_hrefs[h])
        soup = BeautifulSoup(res.content,'html.parser')
        pages_arr = soup.find('div',attrs={"class":"rankpages"}).find_all('a')
        player_presentation = soup.find('div',attrs={"class":"playerPresentation"})
        player_details = {}
        player_details['name'] = player_presentation.find('div',attrs={"class":"playerName"}).text.strip('\n').strip()
        player_details['id'] = player_presentation.find('b').text.strip('\n').strip()
        player_details['club'] = player_presentation.find('a').text.strip('\n').strip()
        print("Player number: ",h," ",player_details)
        for p in range(9):
            res = requests.get('http://tttm.co.il'+pages_arr[p]['href'])
            soup = BeautifulSoup(res.content,'html.parser')
            table = soup.find('table',attrs={"class":"lstMatchs"})
            trays = table.findAll('tr')
            for tr in trays:
                try:    
                    match_type = tr.find('a',attrs={"class":"fsClub"}).text.strip('\r\n                        ')
                    td_list = tr.find_all('td')
                    match_id = td_list[0].text
                    date_string = td_list[2].text
                    p1_points_gained = 0 
                    p2_points_gained = 0
                    try:
                        p1_points_gained = float(td_list[10].find('span').text)
                        delta = float(td_list[9].find('b').text)
                        if p1_points_gained < 0:
                            p2_points_gained = (abs(p1_points_gained)*delta)
                        else:
                            p2_points_gained = float(p1_points_gained/delta)
                            p2_points_gained = (-1)*(p2_points_gained)
                    except:
                            p1_points_gained = 0
                            p2_points_gained = 0
                    p1_id = player_details['id']
                    p1_name = player_details['name']
                    p1_club = player_details['club']
                    p1_rank = td_list[1].find('span').text
                    p1_rank = float(re.findall("\d+\.\d+", p1_rank)[0])
                    p2_rank = td_list[6].text
                    p2 = td_list[5].find_all('a')
                    p2_name = p2[0].text.strip('    \r\n                    ')
                    p2_club = p2[1].text
                    p2_rank = float(td_list[6].text)
                    p2_id = top_players_df[top_players_df['name']==p2_name]["id"].values[0]
                    sets = td_list[8].text.split('-')
                    p2_sets = int(sets[0])
                    p1_sets = int(sets[1])
                    p2_home = np.nan
                    p1_home = np.nan
                    try:
                        teams = td_list[3].find('i').text.split('-')
                        if p2_club in teams[0]:
                            p2_home = 1
                            p1_home = 0
                        
                        elif p2_club in teams[1]:
                                p1_home = 1
                                p2_home = 0

                        games_to_df['p2_home'].append(p2_home)
                        games_to_df['p1_home'].append(p1_home)
                       
                    except:
                        games_to_df['p2_home'].append(p2_home)
                        games_to_df['p1_home'].append(p1_home)
                    
                    
                    
                    
                    date_time_obj = datetime.strptime(date_string, '%d/%m/%Y')
                    
                    winner = p1_id if p1_sets > p2_sets else p2_id
                    games_to_df['p1_points_gained'].append(p1_points_gained)
                    games_to_df['p2_points_gained'].append(p2_points_gained)
                    games_to_df['match_id'].append(match_id)
                    games_to_df['match_type'].append(match_type)
                    games_to_df['date'].append(date_time_obj)
                    games_to_df['p1_id'].append(p1_id)
                    games_to_df['p1_club'].append(p1_club)
                    games_to_df['p1_name'].append(p1_name)
                    games_to_df['p1_rank'].append(p1_rank)
                    games_to_df['p2_id'].append(p2_id)
                    games_to_df['p2_club'].append(p2_club)
                    games_to_df['p2_name'].append(p2_name)
                    games_to_df['p2_rank'].append(p2_rank)

                    games_to_df['p1_sets'].append(p1_sets)
                    games_to_df['p2_sets'].append(p2_sets)
                    games_to_df['winner_id'].append(winner)
                    
                except:
                    continue
    except:
        continue

Player number:  0   {'name': 'יונתן שוסטרמן', 'id': '745', 'club': 'מ. בני הרצליה'}
Player number:  1   {'name': 'מיכאל טאובר', 'id': '853', 'club': 'עירוני גבעתיים'}
Player number:  2   {'name': 'טל ישראלי', 'id': '651', 'club': 'הפועל חיפה'}
Player number:  3   {'name': 'אביב בן ארי', 'id': '524', 'club': 'מכבי זאב זכרון יעקב'}
Player number:  4   {'name': 'יניב שרון', 'id': '882', 'club': 'הפועל לוד'}
Player number:  5   {'name': 'רון דוידוביץ', 'id': '881', 'club': 'הפועל עירוני נוף הגליל'}
Player number:  6   {'name': 'עמרי בן ארי', 'id': '894', 'club': 'עירוני גבעתיים'}
Player number:  7   {'name': 'מתן סימון', 'id': '341', 'club': 'עירוני גבעתיים'}
Player number:  8   {'name': 'איתי אביבי', 'id': '2284', 'club': 'הפועל חיפה'}
Player number:  9   {'name': 'עמית גורן', 'id': '676', 'club': 'הפועל עירוני נוף הגליל'}
Player number:  10   {'name': 'אור בשן', 'id': '865', 'club': 'מ. בני הרצליה'}
Player number:  11   {'name': 'איסק אברמוב', 'id': '874', 'club': "בית''ר ראשון לציון"}
Player number:  12   {'name': 'רונאל דוידוב', 'id': '806', 'club': 'מכבי דימונה'}
Player number:  13   {'name': 'יורי פורמן', 'id': '888', 'club': 'הפועל לוד'}
Player number:  14   {'name': 'גל פרפל', 'id': '741', 'club': 'הישגי כרמיאל'}
Player number:  15   {'name': 'שמעון רבינוביץ', 'id': '869', 'club': "בית''ר ראשון לציון"}
Player number:  16   {'name': 'יניב קרמזין', 'id': '685', 'club': 'כרמל מרכזי טניס שולחן חיפה'}
Player number:  17   {'name': 'זיו יצחק', 'id': '682', 'club': 'כרמל מרכזי טניס שולחן חיפה'}
Player number:  18   {'name': 'פבל טמנוגורוד', 'id': '858', 'club': "הפועל טנ''ש באר שבע"}
Player number:  19   {'name': 'אביב עמידור', 'id': '130', 'club': 'הפועל ירושלים'}
Player number:  20   {'name': 'עידן אוגורצב', 'id': '862', 'club': 'מכבי תל אביב'}
Player number:  21   {'name': 'אוהד פניאל', 'id': '891', 'club': 'הפועל עירוני נוף הגליל'}
Player number:  22   {'name': 'איתי שושן', 'id': '2625', 'club': 'כרמל מרכזי טניס שולחן חיפה'}
Player number:  23   {'name': 'אורי אלמור', 'id': '2620', 'club': 'מכבי זאב זכרון יעקב'}
Player number:  24   {'name': 'אושר אשכנזי', 'id': '820', 'club': 'הפועל פתח תקווה'}
Player number:  25   {'name': 'גיא קוחלי', 'id': '684', 'club': 'כרמל מרכזי טניס שולחן חיפה'}
Player number:  26   {'name': 'רון דימנט', 'id': '675', 'club': 'הישגי כרמיאל'}
Player number:  27   {'name': 'ולדי פורמן', 'id': '753', 'club': "הפועל טנ''ש באר שבע"}
Player number:  28   {'name': 'בן יצחק', 'id': '617', 'club': 'מכבי תל אביב'}
Player number:  30   {'name': 'נתנאל אברמוב', 'id': '3181', 'club': "בית''ר ראשון לציון"}
Player number:  32   {'name': 'דניאל קושקרוב', 'id': '620', 'club': 'מכבי דימונה'}
Player number:  33   {'name': 'אלכסנדר קורס', 'id': '1453', 'club': 'הפועל בת ים'}
Player number:  34   {'name': 'בנצי בלנק', 'id': '878', 'club': 'הפועל לוד'}
Player number:  35   {'name': 'צחי פרום', 'id': '965', 'club': 'מכבי תל אביב'}
Player number:  36   {'name': 'אדיר דניאל', 'id': '738', 'club': 'אופק קריית אונו'}
Player number:  37   {'name': 'נתן סגל', 'id': '626', 'club': 'הישגי כרמיאל'}
Player number:  38   {'name': 'עמנואל כהן', 'id': '2809', 'club': 'הפועל ירושלים'}
Player number:  39   {'name': 'עידן טרוסמן', 'id': '624', 'club': 'אליצור קריית אתא'}
Player number:  40   {'name': 'עודד גרטמן', 'id': '930', 'club': 'מכבי תל אביב'}
Player number:  41   {'name': 'יניב שפס', 'id': '1867', 'club': 'הפועל יוקנעם'}
Player number:  42   {'name': 'שון ברקטוב', 'id': '621', 'club': 'מכבי רחובות'}
Player number:  43   {'name': 'מתן עולי', 'id': '1945', 'club': 'מ. בני הרצליה'}
Player number:  44   {'name': 'שחר כרמון', 'id': '1992', 'club': 'מכבי תל אביב'}
Player number:  45   {'name': 'יונתן קוחלי', 'id': '653', 'club': 'כרמל מרכזי טניס שולחן חיפה'}
Player number:  46   {'name': 'רועי ארליך', 'id': '890', 'club': 'מכבי תל אביב'}
Player number:  47   {'name': 'יוני ירמיהו', 'id': '845', 'club': 'הפועל לוד'}
Player number:  48   {'name': 'שמעון קלברס', 'id': '1475', 'club': 'הפועל לוד'}
Player number:  49   {'name': 'דמיטרי אברמנקו', 'id': '1591', 'club': 'עירוני מעלות תרשיחא'}
Player number:  50   {'name': 'דוד אלטרץ', 'id': '107', 'club': 'הפועל ירושלים'}
Player number:  51   {'name': 'יוסי בוגן', 'id': '1546', 'club': 'מכבי תל אביב'}
Player number:  52   {'name': 'אור שטיין', 'id': '126', 'club': 'הפועל ירושלים'}
Player number:  53   {'name': 'שחר גילעד', 'id': '1439', 'club': 'הפועל עירוני צפת'}
Player number:  54   {'name': 'יצחק אברמוביץ', 'id': '1112', 'club': 'הפועל לוד'}
Player number:  55   {'name': 'נדב רחמים', 'id': '893', 'club': 'הפועל רמת ישי'}
Player number:  56   {'name': 'אושרי זפרן', 'id': '1172', 'club': 'הפועל גליל תחתון'}
Player number:  57   {'name': 'אדי ישראלי', 'id': '892', 'club': 'הפועל חיפה'}
Player number:  58   {'name': 'אבנר לוין', 'id': '1199', 'club': 'מכבי תל אביב'}
Player number:  59   {'name': 'אביב הלפרן', 'id': '657', 'club': 'הישגי כרמיאל'}
Player number:  61   {'name': 'גבריאל קלוו', 'id': '324', 'club': 'הפועל ירושלים'}
Player number:  63   {'name': 'איתי חננאל', 'id': '687', 'club': 'אופק קריית אונו'}
Player number:  64   {'name': 'יעקב בוגן', 'id': '531', 'club': 'מכבי תל אביב'}
Player number:  65   {'name': 'מארק פולובץ', 'id': '2012', 'club': 'הישגי כרמיאל'}
Player number:  66   {'name': 'עידו בן שימחון', 'id': '1611', 'club': "טנ''ש 2007 נתניה"}
Player number:  67   {'name': 'שחר גינסברג', 'id': '884', 'club': 'מכבי רחובות'}
Player number:  68   {'name': 'גאורגי טוניאן', 'id': '1205', 'club': 'מכבי גבירול באר שבע'}
Player number:  69   {'name': 'בן סורוקין', 'id': '144', 'club': 'הפועל ירושלים'}
Player number:  70   {'name': 'טל מיטרני', 'id': '1660', 'club': 'מ. טנ"ש ויקטור נתניה'}
Player number:  71   {'name': 'אסף חננאל', 'id': '3082', 'club': 'אופק קריית אונו'}
Player number:  72   {'name': 'גיל אביבי', 'id': '507', 'club': 'הפועל חיפה'}
Player number:  73   {'name': 'עידו אטקין', 'id': '705', 'club': 'עירוני גבעתיים'}
Player number:  74   {'name': 'ציגי דיקשטיין', 'id': '970', 'club': 'עירוני גבעתיים'}
Player number:  75   {'name': 'אלעד אברויה', 'id': '935', 'club': 'הפועל אשדוד'}
Player number:  76   {'name': 'נדב דהן', 'id': '1844', 'club': 'הפועל חיפה'}
Player number:  77   {'name': 'נבו ברימברג', 'id': '1260', 'club': 'הפועל אשקלון'}
Player number:  78   {'name': 'אמנון בן-שחר', 'id': '2596', 'club': 'מ. בני הרצליה'}
Player number:  79   {'name': 'עידן לוי', 'id': '2491', 'club': 'מכבי תל אביב'}
Player number:  80   {'name': 'רם שר', 'id': '934', 'club': "בית''ר באר שבע"}
Player number:  81   {'name': 'מתן מן', 'id': '1392', 'club': "הפועל טנ''ש באר שבע"}
Player number:  82   {'name': 'יונתן שיפמן', 'id': '901', 'club': 'מכבי תל אביב'}
Player number:  83   {'name': 'שי רוטברת', 'id': '798', 'club': 'מכבי דימונה'}
Player number:  84   {'name': 'יבגני ריזוב', 'id': '2889', 'club': 'טנש ירושלים'}
Player number:  85   {'name': 'יבגני ספוזניקוב', 'id': '523', 'club': 'מכבי שהם'}
Player number:  86   {'name': 'דן סולודר', 'id': '752', 'club': 'הפועל לוד'}
Player number:  87   {'name': 'סמיון גנדלר', 'id': '908', 'club': 'מכבי גבירול באר שבע'}
Player number:  89   {'name': 'יובל נוטנקו', 'id': '817', 'club': 'הישגי כרמיאל'}
Player number:  90   {'name': 'יעקב שי', 'id': '841', 'club': "בית''ר באר שבע"}
Player number:  91   {'name': 'בן הורנשטיין', 'id': '2964', 'club': 'עירוני גבעתיים'}
Player number:  92   {'name': 'עידו רוזנבאום', 'id': '870', 'club': 'מכבי זאב זכרון יעקב'}
Player number:  93   {'name': 'אריאל שפירא', 'id': '532', 'club': 'טניס שולחן חיפה'}
Player number:  94   {'name': 'אליה זבולוני', 'id': '4523', 'club': 'אופק קריית אונו'}
Player number:  95   {'name': 'בן בכר', 'id': '2285', 'club': 'הישגי כרמיאל'}
Player number:  96   {'name': 'חנוך לנר', 'id': '1370', 'club': 'הפועל באר טוביה'}
Player number:  97   {'name': 'אור מגן', 'id': '6771', 'club': 'הפועל פתח תקווה'}
Player number:  98   {'name': 'דובי פורטנוי', 'id': '876', 'club': 'מכבי תל אביב'}
Player number:  99   {'name': 'בוריס קושניר', 'id': '972', 'club': "טנ''ש נס ציונה"}
Player number:  100   {'name': 'יניב יאכלביץ', 'id': '5546', 'club': 'עירוני גבעתיים'}
Player number:  101   {'name': 'חביב בן דוד', 'id': '1204', 'club': "בית''ר באר שבע"}
Player number:  102   {'name': "אדם נג'יר", 'id': '6604', 'club': 'מ. בני הרצליה'}

Player number:  104   {'name': 'שימי אסרף', 'id': '926', 'club': 'הפועל חיפה'}
Player number:  105   {'name': 'אדר שקד', 'id': '857', 'club': 'הפועל לוד'}
Player number:  106   {'name': 'פיליפ קושנר', 'id': '2387', 'club': 'מכבי גבירול באר שבע'}
Player number:  107   {'name': 'דוד גולן', 'id': '922', 'club': 'מכבי הישגים ראשון לציון'}
Player number:  108   {'name': 'דניאל זהר', 'id': '2028', 'club': 'אופק קריית אונו'}
Player number:  109   {'name': 'רביד ברנדמן', 'id': '3833', 'club': 'אופק קריית אונו'}
Player number:  110   {'name': 'יניב בלנק', 'id': '929', 'club': "בית''ר רמלה"}
Player number:  111   {'name': 'דני ליבשיץ', 'id': '293', 'club': 'הפועל ירושלים'}
Player number:  112   {'name': 'איגור סלבין', 'id': '1907', 'club': 'הפועל אשקלון'}
Player number:  113   {'name': 'דן זוילי', 'id': '2229', 'club': 'הפועל לוד'}
Player number:  114   {'name': 'יוסי רוזנבלט', 'id': '998', 'club': 'הפועל אשדוד'}
Player number:  115   {'name': 'איגור גולדברג', 'id': '1359', 'club': 'הפועל בת ים'}
Player number:  116   {'name': 'נחום שמיס', 'id': '987', 'club': 'הפועל חיפה'}
Player number:  117   {'name': 'יבגני ברבוי', 'id': '1408', 'club': "הפועל טנ''ש באר שבע"}
Player number:  118   {'name': 'אדם בלנק', 'id': '895', 'club': "בית''ר רמלה"}
Player number:  119   {'name': 'רן מנשה', 'id': '1937', 'club': "טנ''ש 2007 נתניה"}
Player number:  120   {'name': 'ניר רחליס', 'id': '2292', 'club': 'הפועל גליל תחתון'}
Player number:  121   {'name': 'יוסף אזולאי', 'id': '2846', 'club': 'הפועל בת ים'}
Player number:  122   {'name': 'ארז זכריה', 'id': '921', 'club': 'מ. בני הרצליה'}
Player number:  123   {'name': 'אלכסנדר לוין', 'id': '1264', 'club': 'הפועל חיפה'}
Player number:  124   {'name': 'רועי רוזנבלט', 'id': '903', 'club': 'הפועל אשדוד'}
Player number:  125   {'name': 'אופק ביתן', 'id': '4191', 'club': "בית''ר ראשון לציון"}
Player number:  126   {'name': 'דור בן-חורין', 'id': '887', 'club': 'מכבי שהם'}
Player number:  127   {'name': 'תומר נעמה', 'id': '2952', 'club': 'עירוני גבעתיים'}
Player number:  128   {'name': 'אמיר רובינשטיין', 'id': '3675', 'club': 'הפועל לוד'}
Player number:  129   {'name': 'ניר יעקובי', 'id': '1373', 'club': 'מ. בני הרצליה'}
Player number:  130   {'name': 'יפים גורביץ', 'id': '989', 'club': "הפועל טנ''ש באר שבע"}
Player number:  131   {'name': 'גלעד אקסלרוד', 'id': '3088', 'club': 'אופק קריית אונו'}
Player number:  132   {'name': 'מקסים גולדין', 'id': '6601', 'club': 'כרמל מרכזי טניס שולחן חיפה'}
Player number:  133   {'name': 'אלכסנדר סליטרניק', 'id': '1511', 'club': "הפועל טנ''ש באר שבע"}
Player number:  134   {'name': 'אלכס קורנברג', 'id': '974', 'club': "הפועל טנ''ש באר שבע"}
Player number:  135   {'name': 'יהודה דרור', 'id': '1693', 'club': 'מ. בני הרצליה'}
Player number:  136   {'name': 'אפי גילקרוב', 'id': '2639', 'club': 'הפועל חולון'}
Player number:  137   {'name': 'מתן כהן', 'id': '830', 'club': 'מ. בני הרצליה'}
Player number:  138   {'name': 'בנימין שניידר', 'id': '2847', 'club': 'מכבי תל אביב'}
Player number:  139   {'name': 'דמיטרי אסקוטסקי', 'id': '991', 'club': "מ.ק.מתנ''ס קריית גת"}
Player number:  140   {'name': 'אביב וייג', 'id': '6371', 'club': 'הפועל רמת ישי'}
Player number:  141   {'name': 'רוני רמסניק', 'id': '915', 'club': 'הפועל אשקלון'}
Player number:  142   {'name': 'ארטיום קרביץ', 'id': '5529', 'club': "בית''ר רמלה"}
Player number:  143   {'name': 'אנטולי לוינשטיין', 'id': '943', 'club': 'הפועל רמת ישי'}
Player number:  144   {'name': 'אלון לב', 'id': '949', 'club': 'מכבי כוכב יאיר - צור יגאל'}
Player number:  145   {'name': 'גיא בלוך', 'id': '902', 'club': 'מכבי שהם'}
Player number:  146   {'name': 'עמית בן-עמי', 'id': '2830', 'club': 'אופק קריית אונו'}
Player number:  147   {'name': 'זאב סהר', 'id': '2644', 'club': 'הפועל עירוני נוף הגליל'}
Player number:  148   {'name': 'סטניסלב בוייקנר', 'id': '1735', 'club': 'מכבי זאב זכרון יעקב'}
Player number:  149   {'name': 'יובל תגר', 'id': '886', 'club': 'עירוני גבעתיים'}
Player number:  150   {'name': 'גנאדי גרינברג', 'id': '995', 'club': 'מ. בני הרצליה'}
Player number:  151   {'name': 'עופר קלטש', 'id': '1939', 'club': 'עמותת קריית מוצקין'}
Player number:  152   {'name': 'ניצן פרדריך', 'id': '2604', 'club': 'מכבי זאב זכרון יעקב'}
Player number:  153   {'name': 'רועי לימור', 'id': '1943', 'club': 'מ. בני הרצליה'}
Player number:  154   {'name': 'אלכס אייקליס', 'id': '5626', 'club': "טנ''ש נס ציונה"}
Player number:  155   {'name': 'איליה ריטבין', 'id': '2626', 'club': "בית''ר באר שבע"}
Player number:  156   {'name': 'עמית יצחק', 'id': '2957', 'club': 'כרמל מרכזי טניס שולחן חיפה'}
Player number:  157   {'name': 'משה סימנה', 'id': '4741', 'club': 'הפועל גליל תחתון'}
Player number:  158   {'name': 'יעקב אבידר', 'id': '905', 'club': "טנ''ש 2007 נתניה"}
Player number:  159   {'name': 'נתנאל וזאנה', 'id': '837', 'club': 'הפועל גליל תחתון'}
Player number:  160   {'name': 'אביב גורדון', 'id': '1381', 'club': "טנ''ש נס ציונה"}
Player number:  161   {'name': 'אלכסנדר סלצר', 'id': '1705', 'club': 'מכבי דימונה'}
Player number:  162   {'name': 'אלעד אסרף', 'id': '1512', 'club': 'הפועל חיפה'}
Player number:  164   {'name': 'אסף גונן', 'id': '1579', 'club': 'מכבי זאב זכרון יעקב'}
Player number:  166   {'name': 'רונן סרגוסי', 'id': '982', 'club': 'מכבי תל אביב'}
Player number:  167   {'name': 'שמעון פקטרמן', 'id': '1940', 'club': 'הפועל חיפה'}
Player number:  168   {'name': 'איתי תבורי', 'id': '829', 'club': 'מ. טנ"ש ויקטור נתניה'}
Player number:  169   {'name': 'דוד גופר', 'id': '3036', 'club': "הפועל טנ''ש באר שבע"}
Player number:  170   {'name': 'אלכסנדר קורנמן', 'id': '1375', 'club': 'הפועל אשדוד'}
Player number:  171   {'name': 'יוסי עטיה', 'id': '2572', 'club': 'הפועל לוד'}
Player number:  173   {'name': 'יובל בץ', 'id': '140', 'club': 'הפועל ירושלים'}
Player number:  174   {'name': 'בצלאל מייר', 'id': '2296', 'club': 'הפועל חיפה'}
Player number:  175   {'name': 'גאד הזו', 'id': '900', 'club': 'הפועל ירושלים'}
Player number:  176   {'name': 'אמיר מרציאנו', 'id': '4266', 'club': 'מ. טנ"ש ויקטור נתניה'}
Player number:  177   {'name': 'תומר הדר', 'id': '7044', 'club': 'מ. בני הרצליה'}
Player number:  178   {'name': 'יבגני בלמן', 'id': '3646', 'club': 'הפועל בת ים'}
Player number:  179   {'name': 'ארז סנדק', 'id': '2956', 'club': 'מ. טנ"ש ויקטור נתניה'}
Player number:  180   {'name': 'איתי אוניק', 'id': '961', 'club': 'מ. בני הרצליה'}
Player number:  181   {'name': 'דוד מוסקוביץ', 'id': '3667', 'club': "בית''ר אשדוד"}
Player number:  182   {'name': 'אורי מינץ', 'id': '2713', 'club': 'עירוני גבעתיים'}
Player number:  183   {'name': 'יובל ורדי', 'id': '834', 'club': 'הפועל אשדוד'}
Player number:  184   {'name': 'כפיר גרטי', 'id': '1644', 'club': 'מכבי שהם'}
Player number:  185   {'name': 'רועי כהן', 'id': '2438', 'club': 'אופק קריית אונו'}
Player number:  186   {'name': 'עדי אביאני', 'id': '2920', 'club': 'מ. בני הרצליה'}
Player number:  187   {'name': 'ברק יולזרי', 'id': '1472', 'club': 'טנש ירושלים'}
Player number:  188   {'name': 'מיכאל טברסקי', 'id': '844', 'club': 'הפועל לוד'}
Player number:  189   {'name': 'סרגיי וינטראוב', 'id': '291', 'club': 'הפועל ירושלים'}
Player number:  190   {'name': 'אלכסנדר אבשלומוב', 'id': '911', 'club': "טנ''ש נס ציונה"}
Player number:  191   {'name': 'אלכס בינמן', 'id': '925', 'club': 'הפועל אשדוד'}
Player number:  192   {'name': 'פבל פרנקל', 'id': '946', 'club': "בית''ר באר שבע"}
Player number:  193   {'name': 'יובל וולפרט', 'id': '2057', 'club': 'הפועל עירוני נוף הגליל'}
Player number:  194   {'name': 'רועי חלמיש', 'id': '4650', 'club': "בית''ר ראשון לציון"}
Player number:  195   {'name': 'ניקולאי שר', 'id': '877', 'club': 'כרמל מרכזי טניס שולחן חיפה'}
Player number:  196   {'name': 'דימיטרי קובל', 'id': '4672', 'club': 'הפועל אשדוד'}
Player number:  197   {'name': 'מתן פוקס', 'id': '4304', 'club': "בית''ר ראשון לציון"}
Player number:  198   {'name': 'בר אושר עובדיה', 'id': '4459', 'club': 'טניס שולחן חיפה'}
Player number:  199   {'name': 'ניר חבצלת', 'id': '1978', 'club': "טנ''ש נס ציונה"}
Player number:  200   {'name': 'מיכאל דיטיניס', 'id': '4271', 'club': 'הפועל חיפה'}
Player number:  203   {'name': 'אריאל אזנקוט', 'id': '6929', 'club': 'מכבי שהם'}
Player number:  204   {'name': 'דניאל פטר', 'id': '833', 'club': 'מ. בני הרצליה'}
Player number:  205   {'name': 'גולן עוז', 'id': '1776', 'club': 'מכבי שהם'}

Player number:  206   {'name': 'ערן ניר', 'id': '7025', 'club': 'מכבי זאב זכרון יעקב'}
Player number:  207   {'name': 'דיאגו שיקינסקי', 'id': '1526', 'club': 'הפועל עירוני נוף הגליל'}
Player number:  210   {'name': 'שי אוחיון', 'id': '5856', 'club': 'טנש ירושלים'}
Player number:  211   {'name': 'עידו טל', 'id': '3035', 'club': 'מכבי גדרה'}
Player number:  212   {'name': 'פבל סטסנקו', 'id': '2189', 'club': 'הפועל בת ים'}
Player number:  213   {'name': 'אילן דרמון', 'id': '322', 'club': 'מ. בני הרצליה'}
Player number:  214   {'name': 'אלכסנדר שפירו', 'id': '2629', 'club': 'אליצור קריית אתא'}
Player number:  215   {'name': 'גלעד לוין', 'id': '2720', 'club': "בית''ר ראשון לציון"}
Player number:  216   {'name': 'עידן עופר', 'id': '6174', 'club': 'מכבי רחובות'}
Player number:  217   {'name': 'יניב יוסף', 'id': '1333', 'club': "מ.ק.מתנ''ס קריית גת"}
Player number:  218   {'name': 'טומי גרינפלד', 'id': '4167', 'club': "בית''ר ראשון לציון"}
Player number:  219   {'name': 'מקסים קוקוטוב', 'id': '849', 'club': 'אליצור קריית אתא'}

In [11]:
games_df = pd.DataFrame.from_dict(games_to_df)
games_df

,match_id,match_type,date,p1_id,p1_name,p1_club,p1_rank,p1_sets,p1_home,p1_points_gained,p2_id,p2_name,p2_club,p2_rank,p2_sets,p2_home,p2_points_gained,winner_id
0,286499,ליגת על גברים 2021-2022,2021-12-28,745,יונתן שוסטרמן,מ. בני הרצליה,1778.3,2,0.0,-21.0,741,גל פרפל,הישגי כרמיאל,1430.4,3,1.0,31.5,741
1,282431,ליגת על גברים 2021-2022,2021-12-14,745,יונתן שוסטרמן,מ. בני הרצליה,1778.3,3,1.0,4.5,685,יניב קרמזין,כרמל מרכזי טניס שולחן חיפה,1412.8,0,0.0,-3.0,745
2,282435,ליגת על גברים 2021-2022,2021-12-14,745,יונתן שוסטרמן,מ. בני הרצליה,1778.3,3,1.0,3.0,2625,איתי שושן,כרמל מרכזי טניס שולחן חיפה,1350.0,0,0.0,-2.0,745
3,281142,ליגת על גברים 2021-2022,2021-12-07,745,יונתן שוסטרמן,מ. בני הרצליה,1778.3,3,1.0,1.5,892,אדי ישראלי,הפועל חיפה,1099.8,0,0.0,-1.0,745
4,281146,ליגת על גברים 2021-2022,2021-12-07,745,יונתן שוסטרמן,מ. בני הרצליה,1778.3,0,1.0,-18.0,2284,איתי אביבי,הפועל חיפה,1522.8,3,0.0,27.0,2284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27311,226495,ליגת ארצית גברים 2019-2020,2020-01-29,849,מקסים קוקוטוב,אליצור קריית אתא,668.6,2,0.0,-5.0,1532,אברהם שטרן,הפועל עירוני צפת,669.1,3,1.0,5.0,1532
27312,226497,ליגת ארצית גברים 2019-2020,2020-01-29,849,מקסים קוקוטוב,אליצור קריית אתא,668.6,0,0.0,-2.0,1439,שחר גילעד,הפועל עירוני צפת,928.9,3,1.0,2.0,1439
27313,225328,ליגת ארצית גברים 2019-2020,2020-01-22,849,מקסים קוקוטוב,אליצור קריית אתא,668.6,3,1.0,14.0,1735,סטניסלב בוייקנר,מכבי זאב זכרון יעקב,749.7,0,0.0,-14.0,849
27314,223806,ליגת ארצית גברים 2019-2020,2020-01-15,849,מקסים קוקוטוב,אליצור קריית אתא,668.6,3,0.0,7.0,1564,יבגני מקלר,הפועל חיפה,574.4,1,1.0,-7.0,849
27315,223769,ליגת ארצית גברים 2019-2020,2020-01-15,849,מקסים קוקוטוב,אליצור קריית אתא,668.6,1,0.0,-4.0,4271,מיכאל דיטיניס,הפועל חיפה,735.3,3,1.0,4.0,4271

In [12]:
#games_df = games_df.drop_duplicates('match_id')

In [13]:

games_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27316 entries, 0 to 27315
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          27316 non-null  object
 1   match_type        27316 non-null  object
 2   date              27316 non-null  datetime64[ns]
 3   p1_id             27316 non-null  object
 4   p1_name           27316 non-null  object
 5   p1_club           27316 non-null  object
 6   p1_rank           27316 non-null  float64
 7   p1_sets           27316 non-null  int64
 8   p1_home           16508 non-null  float64
 9   p1_points_gained  27316 non-null  float64
 10  p2_id             27316 non-null  int64
 11  p2_name           27316 non-null  object
 12  p2_club           27316 non-null  object
 13  p2_rank           27316 non-null  float64
 14  p2_sets           27316 non-null  int64
 15  p2_home           16508 non-null  float64
 16  p2_points_gained  27316 non-null  float64
 17  winner_id         27316 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(3), object(8)
memory usage: 3.8+ MB

In [14]:
games_df.to_csv('games_table.csv',sep = ',',encoding = "utf-8-sig")